In [1]:
import pandas as pd

In [3]:
df = pd.read_html("http://www.olympedia.org/editions/61/medal")

In [4]:
type(df)

list

In [5]:
len(df)

1

In [6]:
df[0]

,Sport/Event,Gold,Unnamed: 2,Silver,Unnamed: 4,Bronze,Unnamed: 6
0,3x3 Basketball,3x3 Basketball,3x3 Basketball,3x3 Basketball,3x3 Basketball,3x3 Basketball,3x3 Basketball
1,"3x3 Basketball, Men",Latvia,LAT,Russian Olympic Committee,ROC,Serbia,SRB
2,"3x3 Basketball, Women",United States,USA,Russian Olympic Committee,ROC,People's Republic of China,CHN
3,Archery,Archery,Archery,Archery,Archery,Archery,Archery
4,"Individual, Men",Mete Gazoz,TUR,Mauro Nespoli,ITA,Takaharu Furukawa,JPN
...,...,...,...,...,...,...,...
383,"Featherweight, Freestyle, Women",Mayu Mukaida,JPN,Pang Qianyu,CHN,Vanesa KaladzinskayaBat Ochir Bolortuya,BLRMGL
384,"Lightweight, Freestyle, Women",Risako Kawai,JPN,Iryna Kurachkina,BLR,Evelina NikolovaHelen Maroulis,BULUSA
385,"Middleweight, Freestyle, Women",Yukako Kawai,JPN,Aysuluu Tynybekova,KGZ,Taybe YuseinIryna Koliadenko,BULUKR
386,"Light-Heavyweight, Freestyle, Women",Tamyra Stock Mensah,USA,Blessing Oborududu,NGR,Meerim ZhumanazarovaAlla Cherkasova,KGZUKR
387,"Heavyweight, Freestyle, Women",Aline Rotter-Focken,GER,Adeline Gray,USA,Zhou QianYasemin Adar,CHNTUR

In [7]:
abbrev = pd.read_html("http://www.olympedia.org/countries")

In [9]:
len(abbrev)

2

In [11]:
abbrev[1]

    Abbreviation                 Country  Competed in Modern Olympics?
0            AAI                    Adai                           NaN
1            ADA                   Adana                           NaN
2            ADR             Adramyttion                           NaN
3            AGR                 Aigeira                           NaN
4            AIG                  Aigion                           NaN
..           ...                     ...                           ...
168          KRE   Unknown city in Crete                           NaN
169          EGP   Unknown city in Egypt                           NaN
170          LOK  Unknown city in Lokria                           NaN
171          XAN                 Xanthos                           NaN
172          ZAK               Zakynthos                           NaN

[173 rows x 3 columns]